<!DOCTYPE html>
<html lang="ko"xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>예약 정보</title>
</head>
<body>
    <h1>예약 정보</h1>

    <p>캠핑장: <span th:text="${camping.facltnm}"></span></p>
    <p>캠핑장 주소:<span th:text="${camping.addr1}"></span></p>
   <p>예약 날짜: <span th:text="${checkIn}"></span> ~ <span th:text="${checkOut}"></span></p>
    <p>회원 이름: <span th:text="${member.name}"></span></p></p>


	<!-- 예약 취소 버튼 -->
	<form action="/reviews/cancelReservation/{reservationId}" method="post">
	    <input type="hidden" name="reservationId" th:value="${reservationId}">
	    <button type="submit">예약 취소</button>
	</form>


    <!-- 후기 작성 버튼 -->
    <form action="/reviews/checkReview" method="get">
        <input type="hidden" name="campingId" value="${campingId}">
        <input type="hidden" name="memberId" value="${memberId}">
        <button type="submit">후기 작성</button>
    </form>

    <!-- 후기 작성이 불가할 경우 안내 메시지 추가 -->
    <div th:if="${!canWriteReview}">
        <p>후기 작성 기간이 아닙니다. 후기 작성은 예약이 종료된 후 가능합니다.</p>
    </div>

</body>
</html>
