<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>게시글 목록</title>

<!-- <link rel="stylesheet" href="/css/list.css">  -->

<link th:href="@{css/tmp/bootstrap_tmp.min.css}" rel="stylesheet">

</head>

<body>

	<!-- 조회수가 가장 높은 게시글 표시 -->
	<!-- 
		<div th:if="${mostLikedBoard != null}" class="most-liked">
			<h3>좋아요가 가장 많은 게시글</h3>
			<table>
				<thead>
					<tr>
						<th>작성번호</th>
						<th>제목</th>
						<th>작성자</th>
						<th>작성일</th>
						<th>좋아요 수</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td th:text="${mostLikedBoard.buid}"></td>
						<td><a
							th:href="@{/board_detail/{buid}(buid=${mostLikedBoard.buid})}"
							th:text="${mostLikedBoard.btitle}"></a></td>
						<td
							th:text="${mostLikedBoard.author != null ? mostLikedBoard.author.uname : '알 수 없음'}"></td>
						<td
							th:text="${#dates.format(mostLikedBoard.bcreateAt, 'yyyy-MM-dd')}"></td>
						<td th:text="${mostLikedBoard.blikecnt}"></td>
					</tr>
				</tbody>
			</table>
		</div>
 		-->

	<!-- 검색창 추가 -->
	<!--
		<div>
			<form action="/boards" method="get">
				<label for="searchKeyword">검색어:</label> <input type="text"
					id="searchKeyword" name="searchKeyword" placeholder="검색어를 입력하세요" />

				<select name="searchCondition" id="searchCondition">
					<option value="titleauthor"
						th:selected="${searchCondition == 'titleauthor'}">제목 +
						작성자</option>
					<option value="title" th:selected="${searchCondition == 'title'}">제목</option>
					<option value="author" th:selected="${searchCondition == 'author'}">작성자</option>
				</select>

				<button type="submit">검색</button>
			</form>
		</div>  -->

	<!-- 게시글 리스트 -->
	
	<!-- 
	<table>
		<thead>
			<tr>
				<th>작성번호</th>
				<th>제목</th>
				<th>작성자</th>
				<th>리뷰 내용</th>
				<th>작성일</th>
				<th>평점</th>

			</tr>
		</thead>
		<tbody>
			<!-- 게시글이 없을 때 -->
			<!-- 
				<th:block
					th:if="${boardPage.content != null and #lists.isEmpty(boardPage.content)}">
					<tr>
						<td colspan="5" style="text-align: center;">게시글이 없습니다.</td>
					</tr>
				</th:block>
				 -->

			<!-- 게시글 리스트 -->
			<!--  <th:block th:each="board : ${boardPage.content}"> -->
			
			<!-- 
			<th:block>
				<tr>
					<td th:text="임시번호"></td>
					<td th:text="임시제목"></td>

					<!-- <td
							th:text="${board.author != null ? board.author.uname : '알 수 없음'}"></td> -->
					<!-- 
					<td th:text="임시작성자"></td>
					<td th:text="리뷰내용">
						<!-- 
					<span
						th:if="${board.bimg = 'default.jpg'}"> <img
							th:src="@{/css/img/imgCheck.png}" alt="Check Image"
							style="width: 30px; height: 30px; margin-right: 10px;">
					</span>
					 --> <!-- 		
					<td
						th:text="${board.bcreateAt != null ? (T(java.time.LocalDateTime).ofEpochSecond(board.bcreateAt.getTime() / 1000, 0, T(java.time.ZoneOffset).UTC).isAfter(T(java.time.LocalDateTime).now().minusDays(1)) ? 
							        #dates.format(board.bcreateAt, 'HH:mm') : 
							        #dates.format(board.bcreateAt, 'yyyy-MM-dd')) : '오류'}"></td>
							         -->
					<!-- 
					<td th:text="임시날짜"></td>
					<td th:text="평점"></td>

					</td>
				</tr>
			</th:block>
		</tbody>
	</table> -->

	<table class="table table-hover">
	<!-- 
		<thead>
			<tr>

				<th>작성번호</th>
				<th>제목(고른 방)</th>
				<th>작성자</th>
				<th>리뷰 내용</th>
				<th>작성일</th>
				<th>평점</th>
			</tr>
		</thead>
	 -->
		<tbody>
			<!--  <th:block th:each="board : ${boardPage.content}"> -->
			<th:block>
				<tr>
					<th th:text="임시번호"></th>

					<!-- <td
							th:text="${board.author != null ? board.author.uname : '알 수 없음'}"></td> -->

						<!-- 
					<span
						th:if="${board.bimg = 'default.jpg'}"> <img
							th:src="@{/css/img/imgCheck.png}" alt="Check Image"
							style="width: 30px; height: 30px; margin-right: 10px;">
					</span>
					 --> <!-- 		
					<td
						th:text="${board.bcreateAt != null ? (T(java.time.LocalDateTime).ofEpochSecond(board.bcreateAt.getTime() / 1000, 0, T(java.time.ZoneOffset).UTC).isAfter(T(java.time.LocalDateTime).now().minusDays(1)) ? 
							        #dates.format(board.bcreateAt, 'HH:mm') : 
							        #dates.format(board.bcreateAt, 'yyyy-MM-dd')) : '오류'}"></td>
							         -->
					
				</tr>
				<tr>
					<th th:text="임시제목"> </th>
					<td> </td>
				</tr>
				<tr>
					<th  th:text="임시날짜"> </th>
					<td> </td>
				</tr>
				<tr>
					<th  th:text="평점"> </th>
					<td> </td>
				</tr>
				<tr>
					<th th:text="임시작성자"> </th>
					<td> </td>
				</tr>
				<tr>
					<th  th:text="리뷰내용"> </th>
					<td> </td>
					<td> </td>
				</tr>
				
			</th:block>
		</tbody>
	</table>




	<!-- 페이지네이션 -->
	<!-- 
	<div>
		<th:block th:if="${boardPage.totalPages > 1}">
			<span th:each="i : ${#numbers.sequence(0, boardPage.totalPages - 1)}">
				<a th:href="@{/boards?page={page}(page=${i})}" th:text="${i + 1}"></a>
			</span>
		</th:block>
	</div>
	 -->
	<!-- 
		<button onclick="location.href='/board_insert_form'">게시글 작성</button>

		<button th:if="${AdminUser != null}"
			onclick="location.href='/admin/boards'">신고된 게시글 목록으로 이동</button>
			 -->
</body>
</html>
