<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<meta charset="UTF-8">
<th:block th:insert="~{/admin/header}"></th:block>
<th:block th:insert="~{/admin/sub_menu}"></th:block>

<article>
<h1>켐핑등록</h1>  
<!-- [1] 파일을 업로드 하기 위해서는 폼태그를 post 방식으로 전송하고,
인코딩 타입을 multipart/form-data 로 지정해야 한다. -->
<form name="frm" id="write_form" method="post" enctype="multipart/form-data">
<table id="list">
<tr>
  <th>켐핑분류</th>
  <td colspan="5">
  <select name="cateogory" id="cateogory">
	<th:block th:each="category, status : ${categoryList}">
		<option th:value="${status.count}">[[${category}]]</option>
	</th:block>
  </select>      
<tr>
  <th>켐핑장명</th>
  <td width="343" colspan="5">
       <input type="text" name="facltnm" id="facltnm" size="47" maxlength="100" value="홍길동오토켐핑">
  </td>
</tr>
<tr>
  <th>주소</th>
  <td width="70">
    <input type="text" name="addr1" id="addr1" size="11" onKeyUp='NumFormat(this)' value="서울시 관악구">
  </td>
   
  <th>예약가능방개수</th>
  <td width="70">
   <!-- 
   <input type="text" name="roomcount" id="roomcount" size="11" onKeyUp='NumFormat(this)' value="5">
    -->
     <input type="text" name="roomcount" id="roomcount" size="11" onKeyUp='NumFormat(this)' value="5">
  </td>
  
  <th>Zip주소</th>
    <td width="72">
    <!-- 
      <input type="text" name="createdtime" id="createdtime" size="11" readonly onKeyUp='NumFormat(this)' onclick='NumFormat(this)'>
     -->
       <input type="text" name="zipcode" id="zipcode" size="11" value="08821" readonly onKeyUp='NumFormat(this)' onclick='NumFormat(this)'>
    </td>
    
   
  </tr>
    
  <tr>
    <th>상세설명</th>
    <td colspan="5">
      <textarea name="featurenm" id="featurenm" rows="8" cols="70" >이뻐요</textarea>
    </td>
  </tr>
  <tr>
    <th>켐핑이미지</th>
    <td width="343" colspan="5">
<!--  [2] 파일 업로드를 하기 위한 input 태그는 타입 속성 값을 file로 지정해야 한다.  -->
      <input type="file" name="camping_image" id="camping_image">
    </td>
  </tr>    
</table>
<input class="btn" type="button" value="등록" onClick="go_save()">           
<input class="btn" type="button" value="취소" onClick="window.history.back()">
</form> 
</article>
<th:block th:insert="~{/admin/footer}"></th:block>
</body>
</html>